body {
    background-image: url(./glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg);
    background-size: 100%;
  }
.my-form{
    border: 3px solid #00000052;
    padding: 20px;
    margin-top: 10%;
  }

  .my-margin{
    margin-top: 10%;
    padding-left: 2%;
}

#text-div{
   text-align: center;
}

#table{
  margin-top: 30px;
  margin-left: 100px;
  width: 80%;

}